{% extends 'base.html.twig' %}



    {% block body %}



        <div class="post_content clearfix">



            <h3 class="post_title"><a href="http://solaris.themerex.net/2018/12/15/chat-format/">Chat Format</a></h3>
            <div class="post_descr">
                <p></p><div class="sc_chat"><div class="sc_chat_inner"><div class="sc_chat_avatar"><img class="wp-post-image" width="75" height="75" alt="team_3.jpg" src="http://solaris.themerex.net/wp-content/uploads/2015/02/team_3-75x75.jpg"></div><div class="sc_chat_title"><a href="#">Edward Johnson</a></div><div class="sc_chat_content"><p>Cras cursus eros vel commodo tincidunt. Donec ac urna eget velit bibendum aliquam. Phasellus tempor urna erat, a fringilla elit vulputate.</p></div></div></div><div class="sc_chat"><div class="sc_chat_inner"><div class="sc_chat_avatar"><img class="wp-post-image" width="75" height="75" alt="team_1.jpg" src="http://solaris.themerex.net/wp-content/uploads/2015/02/team_1-75x75.jpg"></div><div class="sc_chat_title"><a href="#">Margaret Collins</a></div><div class="sc_chat_content"><p>Vivamus euismod mauris id sodales tincidunt. Aliquam est nibh, fringilla nec elit ut, molestie dictum tellus.</p></div></div></div><p></p>				</div>

        </div>









    {% endblock %}